.acceso{
    background: rgba(255, 255, 255, 0.37);
    border: 1px solid white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: absolute;
    bottom:0;
    height: 220px;
    width: 90%;
    

    h2{
        margin: 20px;
        font-size: 1.0rem;
        text-align: center;
        color: white;
    }

    .action_acceso{
        display: flex;
        justify-content: center;
        align-items: center;

        .btn_usuario{
            width: 35%;
            border: 0px solid white;
            margin-right: 15px;
            padding: 10px;

            .usuario{
                margin: auto;
                width: 70px;
            }

            p{
                color: white;
                font-size: 1.0rem;
                text-align: center;
                margin-top: 5px;
            }
        }

        .btn_abogado{
            width: 35%;
            border: 0px solid white;
            margin-left: 15px;
            padding: 10px;

            .usuario{
                margin: auto;
                width: 70px;
            }

            p{
                color: white;
                font-size: 1.0rem;
                text-align: center;
                margin-top: 5px;
            }
        }

        .linea{
            width:2px;
            height:70px;
            background: white;
            border-radius: 20px;
        }
    }
}